
/*-------------------------- HTML ----------------------------*/
html, body {
  height: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin-top: 35px;
  color: hsl(218, 44%, 22%);
}

.p-1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

img {
  position: relative;
  top: 13px;
  height: 300px;
  width: 300px;
  border: 1px solid #2C7DFA;
  border-radius: 10px;
}
/*---------------------------- HTML ------------------------*/



/*---------------------------- CSS  ------------------------*/
.flex-footer {
  display: flex;
  justify-content: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0 auto 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
}

.white-card {
  background-color: hsl(0, 0%, 100%);
  height: 520px;
  width: 330px;
  text-align: center;
  box-shadow: 0 5px 8px -4px grey;
  border-radius: 16px;
}

/* .container {
  height: 1000px;
  width: 1000px;
  border: 5px solid red;
  text-align: center;
  position: relative;
} */

/* .white-card {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  left: 50%;
  /* margin-left: -165px; */
  /* top: 50%; 
  margin-top: 190px;
  transform: translate(-50%, 50%);
  height: 515px;
  width: 330px;*/
  /* border: 2px solid hsl(0, 0%, 100%); 
  border-radius: 16px;
  box-shadow: 0 5px 8px -4px grey;
}
*/





/*------------------------ CSS -------------------------*/